* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #FFFF;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
header {
  display: grid;
  grid-template-areas: 'menu logo searchBox';
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 2rem;
  background: transparent;
  position: fixed;
  width: 100%;
  transition: all ease-in 0.3s;
}
header nav ul {
  padding: 0;
  grid-area: 'menu';
  list-style: none;
  display: flex;
  min-width: 400px;
  margin-right: 0;
  align-content: center;
}
header nav ul li a {
  color: #fff;
  padding-left: 1rem;
  font-size: 1.15rem;
}
header .logo{
  text-align: center;
  grid-area:'logo';
}
header .logo img {
  width: 250px;
}
header .search-box {
  grid-area: 'searchBox';
  justify-self: right;
}
header #search {
  border:none;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: transparent;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 0 2rem;
  background: url('images/bg.jpg') no-repeat center center / cover;
}
main h1 {
  font-size: 6rem;
  line-height: 1;
  color: #fff;
}
main .cta{
  display: inline-block;
  align-items: center;
  text-transform: uppercase;
  background: #53D155;
  color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
}